@model FreshAir.Models.Event

@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Creating New Event</h1>

<h4>Event</h4>

<div class="card" style="width: 18rem;">
    <img src="~/images/@ViewBag.LocationPicture" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">@ViewBag.LocationInfo</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <select class="form-control" id="Activity" name="Activity">
                    <option value="None">Select Activity</option>
                    <option value="Badminton">Badminton</option>
                    <option value="Baseball/Softball">Baseball and Softball</option>
                    <option value="Basketball">Basketball</option>
                    <option value="BMX Biking">BMX Biking</option>
                    <option value="Canoeing/Kayaking">Canoeing and Kayaking</option>
                    <option value="Climbing">Climbing</option>
                    <option value="Cricket">Cricket</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Dance">Dance</option>
                    <option value="Field Hockey">Field Hockey</option>
                    <option value="Fishing">Fishing</option>
                    <option value="Football">Football</option>
                    <option value="Frisbee/Frolf">Frisbee and Frolf</option>
                    <option value="Golf">Golf</option>
                    <option value="Gymnastics">Gymnastics</option>
                    <option value="Hiking">Hiking</option>
                    <option value="Hockey">Hockey</option>
                    <option value="Ice Skating">Ice Skating</option>
                    <option value="Jogging">Jogging</option>
                    <option value="Jump Rope/Double Dutch">Jump Rope and Double Dutch</option>
                    <option value="Kite Boarding/Kitesurfing">Kite Boarding and Kitesurfing</option>
                    <option value="Lacrosse">Lacrosse</option>
                    <option value="Roller Skating/Roller Blading">Roller Skating and Roller Blading</option>
                    <option value="Rowing">Rowing</option>
                    <option value="Running">Running</option>
                    <option value="Skateboarding">Skateboarding</option>
                    <option value="Skiing">Skiing</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Tai Chi">Tai Chi</option>
                    <option value="Tennis">Tennis</option>
                    <option value="Trail Running">Trail Running</option>
                    <option value="Track and Field">Track and Field</option>
                    <option value="Volleyball">Volleyball</option>
                    <option value="Yoga">Yoga</option>
                    <option value="Weight Lifting">Weight Lifting</option>
                </select>
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AthleticAbility" class="control-label"></label>
                <select class="form-control" id="AthleticAbility" name="AthleticAbility">
                    <option value="None">Select Athletic Ability</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Elite">Elite</option>
                </select>
                <span asp-validation-for="AthleticAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel" class="control-label"></label>
                <select class="form-control" id="SkillLevel" name="SkillLevel">
                    <option value="None">Select Skill Level</option>
                    <option value="Novice">Novice</option>
                    <option value="Advanced Beginner">Advanced Beginner</option>
                    <option value="Competant">Competant</option>
                    <option value="Proficient">Proficient</option>
                    <option value="Expert">Expert</option>
                </select>
                <span asp-validation-for="SkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledTIme" class="control-label"></label>
                <input asp-for="ScheduledTIme" class="form-control" />
                <span asp-validation-for="ScheduledTIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessibility" class="control-label"></label>
                <select class="form-control" id="Accessibility" name="Accessibility">
                    <option value="Public">Public</option>
                    <option value="Private">Private/Friends Only</option>
                </select>
                <span asp-validation-for="Accessibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
