@model IEnumerable<FreshAir.Models.Athlete>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div>
    <h1>Welcome to Fresh Air </h1>
    <img src="~/Additional/symbol-air-color.png" alt="Symbol" />
</div>

@foreach (var item in Model)
{ 
<div class="card" style="width: 25rem;">
  <img src = "~/images/@item.ProfilePicture" class="card-img-top" alt="ProfilePicture">
  <div class="card-body">
      <p class="card-text">
          <div>
              <a asp-action="MyDetails">View Your Info</a>
          </div>
      </p>
  </div>
</div>
}
<img src="~/Additional/air.jpg" width="800" alt="FreshAir" />
