@model IEnumerable<FreshAir.Models.Athlete>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fresh Air</h1>

<p>
    <a asp-action="GoCreateNewLocation">Create Location</a>
</p>

@foreach (var item in Model)
{ 
<div class="card" style="width: 18rem;">
  <img src = "~/images/@item.ProfilePicture" class="card-img-top" alt="ProfilePicture">
  <div class="card-body">
      <p class="card-text">
          <div>
              <a asp-action="Details" asp-route-id="@item.AthleteId">View Your Info</a>
          </div>
          <div>
              <a asp-action="FriendsList" asp-route-id="@item.AthleteId">Friend's List</a>
          </div>
          <div>
              <a asp-action="HostedEvents" asp-route-id="@item.AthleteId">Events You're Hosting</a>
          </div>
          <div>
              <a asp-action="EventsAttending" asp-route-id="@item.AthleteId">Events You're Attending</a>
          </div>
      </p>
  </div>
</div>
}
