@model IEnumerable<FreshAir.Models.Athlete>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fresh Air</h1>

<p>
    <a asp-action="ViewNearLocations">View Locations in Your Area</a>
</p>
<p>
    <a asp-action="ViewNearEvents">View Events in Your Area</a>
</p>
<p>
    <a asp-action="SuggestedEvents">View Events Catered to Your Interests</a>
</p>

@foreach (var item in Model)
{ 
<div class="card" style="width: 18rem;">
  <img src = "~/images/@item.ProfilePicture" class="card-img-top" alt="ProfilePicture">
  <div class="card-body">
      <p class="card-text">
          <div>
              <a asp-action="MyDetails">View Your Info</a>
          </div>
          <div>
              <a asp-action="FriendsList" asp-route-id="@item.AthleteId">Friend's List</a>
          </div>
          <div>
              <a asp-action="HostedEvents">Events You're Hosting</a>
          </div>
          <div>
              <a asp-action="EventsAttending">Events You're Attending</a>
          </div>
      </p>
  </div>
</div>
}
