
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>About Us</h1>

<p>It is easy to see the toll that the past year has had on the world. COVID-19 has disturbed what was once normal in everyone's day to day life.</p>
<p>As the world begins it's recovery process, FreshAir is doing it's part to help the return to normalcy.</p>
<p>We have spent the past year living in quarantine and many people began to feel the stress of living enclosed.</p>
<p>At FreshAir we are encouraging everyone to commit to a healthy and active lifestyle.</p>
<p>FreshAir hopes to be the new norm for communal group activities; however, we must emphasize our committment to <strong>health and safety</strong>.</p>
<p>We recoginize the importance of getting outside, being active and getting FreshAir, yet we also recognize the necessity to prevent the spread of COVID-19.</p>
<p>We encourage everone to follow the local guidelines set by your local and State officials.</p>
<p>If you are feeling symptoms of COVID-19 please do not attend any events!</p>


<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Watch for symptoms</div>
    <div class="card-body">
        <h4 class="card-title">
            People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
        </h4>
        <p class="card-text">
            <div>
                Fever or chills
            </div>
            <div>
                Cough
            </div>
            <div>
                Shortness of breath or difficulty breathing
            </div>
            <div>
                Fatigue
            </div>
            <div>
                Muscle or body aches
            </div>
            <div>
                Headache
            </div>
            <div>
                New loss of taste or smell
            </div>
            <div>
                Sore throat
            </div>
            <div>
                Congestion or runny nose
            </div>
            <div>
                Nausea or vomiting
            </div>
            <div>
                Diarrhea
            </div>
        </p>
        <p>
            This list does not include all possible symptoms. <a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html">CDC</a> will continue to update this list as we learn more about COVID-19.
        </p>
    </div>
</div>
<p>Our hope is that this can reinvigorate local communities to not only become more active physically, but to also bring people together to build relationships around shared interests.</p>
<p>Welcome to our community! Go get some FreshAir!</p>

